:root {
    --aliceBlue: #F0F0F0;
    --cyan: #61dafb;
    --grey: #4F4F4F;
    --grey2: #a5a4a4;
    --grey3: #F0EFEF;
    --lightgrey: #dedcdc;
    --orangeRed: #B30900;
    --shadowColor:rgba(5,5,5,0.1);
    --shadowColor2: #b3b2b2
}
